# Go build artifacts
/bin/
/pkg/
*.exe
*.out

# IDE/editor files
.vscode/
*.swp
*.log
*.obj
*.tlog
*.idb
*.pdb

# Dependency directories
vendor/
.vs/


*.db
*.sum
__debug_bin.exe*

PasswordManager/config/config.go
PasswordManager/__debug_bin.exe3824370766
PasswordManager/rd.passmana
PasswordManager/vault.salt
